html, body {
    background-color: #1f1f1f;
}

h1 {
    color: #EF5147;
    font-size: 16px;
    font-family: 'Source Code Pro', monospace;
    margin-bottom: 15px;
}

h1:before {
    content: "// ";
}

p {
    color: #d2d2d2;
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    margin-bottom: 25px;
}

li {
    color: #818181;
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    text-decoration: none;
}

li:before {
    content: "* ";
}

li:first-child:before {
    content: "/** ";
}

li:last-child:before {
    content: "*/ ";
}

ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

strong {
    color: #4dd2ac;
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    font-weight: normal;
}

i {
    color: #fca8a1;
    font-size: 14px;
    margin-right: 15px;
    opacity: .3;
}