html, body {
    background-color: #1f1f1f;
}

h1 {
    color: #EF5147;
    font-size: 16px;
    font-family: 'Source Code Pro', monospace;
    margin-bottom: 15px;
}

h1:before {
    content: "// ";
}

h2 {
    color: #EF5147;
    font-size: 16px;
    font-family: 'Source Code Pro', monospace;
    margin-bottom: 15px;
}

h2:before {
    content: "function ";
}

h2:after {
    content: "() {";
}

p {
    color: #d2d2d2;
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    margin-bottom: 25px;
}

h2 + p {
    margin-left: 40px;
}

h2 + p:after {
    content: "\a}";
    color: #EF5147;
    font-size: 16px;
    font-family: 'Source Code Pro', monospace;
    display: block;
    margin-left: 0;
}

li {
    color: #818181;
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    text-decoration: none;
}

li:before {
    content: "* ";
}

li:first-child:before {
    content: "/** ";
}

li:last-child:before {
    content: "*/ ";
}

ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

strong {
    color: #ea7132;
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    font-weight: normal;
}

i {
    color: #fca8a1;
    font-size: 14px;
    margin-right: 15px;
    opacity: .8;
}